[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colourvalues"]
	path = colourvalues
	url = https://github.com/symbolixau/colourvalues
[submodule "geojsonsf"]
	path = geojsonsf
	url = https://github.com/symbolixau/geojsonsf
[submodule "geometries"]
	path = geometries
	url = https://github.com/dcooley/geometries
	registered = false
[submodule "googleway"]
	path = googleway
	url = https://github.com/symbolixau/googleway
[submodule "mapdeck"]
	path = mapdeck
	url = https://github.com/symbolixau/mapdeck
[submodule "sfheaders"]
	path = sfheaders
	url = https://github.com/dcooley/sfheaders
	registered = false
[submodule "spatialwidget"]
	path = spatialwidget
	url = https://github.com/symbolixau/spatialwidget
