[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colourvalues"]
	path = colourvalues
	url = https://github.com/symbolixau/colourvalues
[submodule "geojsonsf"]
	path = geojsonsf
	url = https://github.com/symbolixau/geojsonsf
[submodule "googlePolylines"]
	path = googlePolylines
	url = https://github.com/symbolixau/googlepolylines
[submodule "googleway"]
	path = googleway
	url = https://github.com/symbolixau/googleway
[submodule "h3lib"]
	path = h3lib
	url = https://github.com/symbolixau/h3lib
[submodule "h3r"]
	path = h3r
	url = https://github.com/symbolixau/h3r
[submodule "jsonify"]
	path = jsonify
	url = https://github.com/symbolixau/jsonify
[submodule "mapdeck"]
	path = mapdeck
	url = https://github.com/symbolixau/mapdeck
[submodule "spatialwidget"]
	path = spatialwidget
	url = https://github.com/symbolixau/spatialwidget
